
nav ul {
    display: flex;

    /*justify-content: space-around;*/
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #76E5FC;
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    font-family: Bellota Text, serif;
    font-size: 16px;
    padding: 0;
}
.logout-btn:hover {
    color: #76E5FC;

}