{{define "title"}} Update item {{end}}

{{define "main"}}
    <div class="tbl">
{{if .Items}}
<table>
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Price</th>
    </tr>
    {{range .Items}}
        <tr>
            <td><a href="/view?id={{.ID}}">{{.ID}}</a></td>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
        </tr>
    {{end}}
</table>
    </div>
    {{else}}
        <p>No content!</p>
    {{end}}

{{end}}