
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<header>
    {{template "nav" .}}
</header>
<main>
    {{template "main" .}}
</main>

<footer>
    {{template "footer" .}}
</footer>

</body>
</html>
{{end}}