{{define "title"}} Update item {{end}}

{{define "main"}}
    <div class="tbl">

<table>
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Price</th>
    </tr>
    {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/view?item={{.Name}}">{{.Name}}</a></td>
            <td>{{.Price}}</td>
        </tr>
    {{end}}
</table>
    </div>

{{end}}