{{define "title"}} Item {{.Name}} {{end}}

{{define "main"}}

<div class="frm">
    <h3>Укажите новую цену товара "{{.Name}}"</h3>

    <form action="/view" method="post">

        <input type="hidden" name="item" id="item" value="{{.}}" >
        <label for="item">Цена</label>
        <input type="text" name="price" id="item">
        <button type="submit">Принять</button>

    </form>
</div>

{{end}}