
@import "pages/view.css";
@import "pages/list.css";
@import "pages/add.css";
@import "partials/nav.css";


body {
    margin: 0;
    height: 90vh;
}

/*
HEADER
*/


header {
    background-color: rgb(91, 145, 210);
}

/*

MAIN

*/





main {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 90%;
    background-color: rgb(185, 218, 253);
}

/*

FOOTER

*/


.ftr {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgb(91, 145, 210);
    margin: 0;

    padding: 0;
}

.ftr li {
    list-style-type: none;
    padding: 20px;
}

.ftr a {
    text-decoration: none;
    color: white;
}

.ftr a:hover {
    color: #13304f;

}


